.archive-description {
  padding: 3rem;
  max-width: 700px;
  margin: 0 auto;

  a {

    &:hover {
      color: #0073e5;
      text-decoration: underline;
    }
  }
}

.category-desc {
  @include makeRow($no-padding: true);

  max-width: 1200px;
  margin: 0 auto;
}

.archive-title {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 2rem;
  font-size: 2.5rem;
  text-align: center;
}

.category-desc-text {
  @include makeColumn($size: 12, $offset: 0);
  @include makeColumn(md, $size: 6, $offset: 0);

  padding: 1rem 0;

  @include breakpoint($medium) {
    padding: 0 3rem;
  }
}

.cat-hero-img img {
  margin: 0 0 3rem;
}

.subcategory-wrapper {
  width: 100%;
  background-color: #F2F2F2;
  padding: 0.25rem 0;
}

.three-up-subcat-header {
  font-size: 2.5rem;
  padding: 4rem 0 0;
}

.three-up-cat-sub-tagline {
  padding: 0 0.5rem;
}

.three-up-cat-all-articles-header {
  font-size: 2.5rem;
  text-align: center;
  padding: 4rem 0 0;
}

