.thrid-nav-menu {
  height: 15px;
  background-color: #F0CE5C;

  @include breakpoint($medium) {
    margin-top: 83px;
    height: 45px;
  }
}

#menu-3rd-menu {
  display: none;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 45px;

  @include breakpoint($medium) {
    display: block;
  }
}

#menu-3rd-menu li {
  line-height: 1.5;
  color: #fff;
}

#menu-3rd-menu li a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  color: #3D3D3D;
  padding: 12px 16px;
  display: inline-block;
  text-transform: uppercase;
}

.hidden-dsktop {
  @include breakpoint($medium) {
    display: none !important;
  }
}