.wpdiscuz-textarea-wrap {
    background-color: #484848;
}

.fa-envelope,
.wc-comment-date {
    color: #484848; 
}

#wc-textarea-0_0 {
	background-color: #fff;
}

#wpcomm .wpdiscuz-front-actions .wpdiscuz-sbs-wrap span {
	color: #000;
}