.sidebar-primary {
    min-width: 300px !important;
}

#genesis-content {
    padding: 0 20px;    

    @include breakpoint($medium) {
      padding: 0;
    }
}

.home .sidebar-primary .custom-html-widget {
	display: none;
}

.sidebar-primary .sidebar-about {
	padding: 1.5rem;
}